* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  line-height: normal;
  min-width: 375px;
}

ul {
  list-style: none;
}

section {
  background-color: #eff2f9;
  min-height: 100vh;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.card {
  max-width: 1170px;
  min-height: 800px;
  box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
  background-color: #fff;
  padding: 60px 0 70px;
  display: flex;
}

.product-images-block {
  min-width: 540px;
  border-right: 2px solid rgba(20, 20, 20, 0.15);
  display: flex;
  flex-direction: column;
}

.main-image-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.previews-wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.preview {
  width: 80px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.preview.selected,
.preview:hover {
  box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
  transition: box-shadow 0.2s ease-in-out 1s;
}

.product-info-block {
  padding: 0 60px;
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 0.01em;
  color: rgba(20, 20, 20, 0.9);
  margin-bottom: 5px;
}

.subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: rgba(20, 20, 20, 0.4);
  margin-bottom: 60px;
  display: flex;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: rgba(20, 20, 20, 0.7);
  margin-bottom: 65px;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: rgba(20, 20, 20, 0.4);
  margin-bottom: 20px;
}

.options-block {
  margin-bottom: 65px;
}

.color-options {
  display: flex;
  gap: 26px;
}

.option {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 7px;
}

.option.selected {
  background-color: #fff;
  box-shadow: 2px 2px 4px 0 rgba(81, 91, 117, 0.25);


}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 100%;

  box-shadow: 2px 2px 4px 0 rgba(81, 91, 117, 0.25);
}

.blue {
  background-color: #013c7d;
}

.green {
  background-color: #63cba7;
}

.red {
  background-color: #d52f29;
}

.black {
  background-color: #141414;
}

.yellow {
  background-color: #f2c723;
}

.quantity {
  width: 80px;
  height: 24px;
  border: none;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: rgba(20, 20, 20, 0.8);

  appearance: none;

  background-image: url(./assets/images/ph_caret-down-bold.svg);
  background-repeat: no-repeat;
  background-position: right 0 top 50%;
}

.price {
  color: rgba(20, 20, 20, 0.80);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;

}

.btn {
  width: 100%;
  height: 70px;
  background: #141414;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #fff;
  margin-top: 75px;
}

.btn:hover {
  transform: scale(1.05);
}

/*desktop*/

@media screen and (max-width: 1060px) {
  .card {
    flex-direction: column;
  }

  .product-images-block {
    border-bottom: 2px solid rgba(20, 20, 20, 0.15);
    border-right: none;
    min-width: auto;
  }

  .main-image-wrapper {
    margin-bottom: 60px;
  }

  .previews-wrapper {
    margin-bottom: 70px;
  }

  .product-info-block {
    padding-top: 60px;
  }
}

/*mobile*/

@media screen and (max-width: 576px) {
  .card {
    margin: 15px 15px 40px;
  }

  .main-image-wrapper img {
    width: 250px;
  }

  .product-info-block {
    padding: 60px 20px 0;
  }

  .card-title {
    font-size: 34px;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 50px;
  }

  .description {
    font-size: 16px;
    margin-bottom: 55px;
  }

  .color-options {
    gap: 50px;
  }

  .btn {
    margin-top: 65px;
  }

}
